<app-my-child-component></app-my-child-component>

<!-- parent component (app) that has input then pass the name from the parent component’s input to the first child when click on button,  -->

<input type="text" #myInpt>  <!--  #myInpt > is a refrence -->
<button (click)="btnOnClick(myInpt.value)">Click</button> 
<h2>{{ currentItem }}</h2>
<app-my-first-component [name1]="currentItem" (name2)="showOutputFromChild($event)"></app-my-first-component>  <!--[(name1)] > banana in the box--> 

<!-- Then pass the name from first child to second child then view it on the page. -->
<app-my-second-component [finalName]="newItem"></app-my-second-component> 